.button{
	border-radius: 32px;
	padding: 14px 30px;
	font-family: 'Inter';
		font-style: normal;
		font-weight: 400;
		font-size: 12px;
		/* identical to box height, or 120% */
		text-align: center;
		letter-spacing: 0.4px;
		text-transform: uppercase;
		display: inline-block;
		position: relative;
		overflow: hidden;
		z-index: 5;
		border: 2px solid inherit;
		transition: 0.1s ease all;
		&::after{
			content: "";
			display: block;
			width: 0;
			height: 100%;
			position: absolute;
			background-color: #fff;
			top: 0%;
			left: 0%;
			transition: 0.4s ease all;
			z-index: -1;
		}
		&:hover::after{
			width: 500%;
		}
		&:hover{
			background-color: inherit;
			border: 2px solid rgba(0, 17, 26, 1.0);
		}
}