.container{
	max-width: 1105px;
	margin: 0 auto;
	padding: 0px 20px;
}
@media (max-width:990.98px){
	.container{
		max-width: 850px;
	}
}
@media (max-width:767px){
	.container{
		max-width: none;
	}
}